.box{
    border : silver solid 2px;
    border-radius : 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    position: relative;
    background-color: rgb(11, 15, 22);
    
}

.text{
 position: absolute;
 color : white;
 font-size: 200px;


} 
.textX {
    color: rgb(241, 241, 241);
    text-shadow: 
    0 0 5px rgb(0, 217, 255),
    0 0 10px rgb(0, 217, 255),
    0 0 20px rgb(0, 217, 255),
    0 0 40px rgb(0, 217, 255),
    0 0 80px rgb(0, 217, 255),
    0 0 100px rgb(0, 217, 255);
}
.textO{
    color:rgb(238, 238, 238);
    text-shadow: 
    0 0 5px rgb(225, 29, 231),
    0 0 10px rgb(225, 29, 231),
    0 0 20px rgb(225, 29, 231),
    0 0 40px rgb(225, 29, 231),
    0 0 80px rgb(225, 29, 231),
    0 0 100px rgb(225, 29, 231);
    
}
.text1:hover{
    color:rgb(238, 238, 238);
    text-shadow: 
    0 0 5px rgb(225, 29, 231),
    0 0 10px rgb(225, 29, 231),
    0 0 20px rgb(225, 29, 231),
    0 0 40px rgb(225, 29, 231),
    0 0 80px rgb(225, 29, 231),
    0 0 100px rgb(225, 29, 231);
}

.box-1:hover{
    box-shadow: 
    0 0 5px rgb(114, 5, 238),
    0 0 10px rgb(114, 5, 238),
    0 0 20px rgb(114, 5, 238),
    0 0 100px rgb(114, 5, 238);
    color : white;
    border : 2px solid white; 
    text-shadow: 
    0 0 5px rgb(225, 29, 231),
    0 0 10px rgb(225, 29, 231),
    0 0 20px rgb(225, 29, 231),
    0 0 40px rgb(225, 29, 231),
    0 0 80px rgb(225, 29, 231),
    0 0 100px rgb(225, 29, 231);
    background-color: rgb(13, 13, 14);
    position: relative;
    z-index: 20;
}

.box2{
    text-shadow: 
    0 0 5px rgb(225, 29, 231),
    0 0 10px rgb(225, 29, 231),
    0 0 20px rgb(225, 29, 231),
    0 0 40px rgb(225, 29, 231),
    0 0 80px rgb(225, 29, 231),
    0 0 100px rgb(225, 29, 231);
   

}
.box3:hover{
    box-shadow: 
    0 0 5px rgb(245, 245, 245),
    0 0 10px rgb(255, 255, 255),
    0 0 20px rgb(114, 5, 238),
    0 0 100px rgb(230, 5, 238);
    
   

}
.boxindex{
    text-shadow: 
    0 0 5px rgb(225, 29, 231),
    0 0 10px rgb(225, 29, 231),
    0 0 20px rgb(225, 29, 231),
    0 0 40px rgb(225, 29, 231),
    0 0 80px rgb(225, 29, 231),
    0 0 100px #e11de7;
    box-shadow: 
    0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 20px rgb(114, 5, 238),
    0 0 100px rgb(114, 5, 238);
}
 .btnShowwin:hover {
 text-shadow: 
    0 0 5px rgb(225, 29, 231),
    0 0 10px rgb(225, 29, 231),
    0 0 20px rgb(225, 29, 231),
    0 0 40px rgb(225, 29, 231),
    0 0 80px rgb(225, 29, 231),
    0 0 100px #e11de7;
    box-shadow: 
    0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 20px rgb(114, 5, 238),
    0 0 100px rgb(114, 5, 238);
 }

@media screen and (max-width: 600px){
    .text{
        
        font-size: 100px;
    }
}